
*.idb
*.tlog
.vs/rotatingMatrices/v16/.suo
.vs/rotatingMatrices/v16/Browse.VC.db
.vs/rotatingMatrices/v16/ipch/AutoPCH/18507b64cdf8a497/FACE.ipch
.vs/rotatingMatrices/v16/ipch/AutoPCH/28703527148a4c53/CUBE.ipch
.vs/rotatingMatrices/v16/ipch/AutoPCH/ce4eed2e7c23f6e2/ROTATINGMATRICES.ipch
Debug/rotatingMatrices.exe
Debug/rotatingMatrices.pdb
rotatingMatrices.sln
rotatingMatrices/Debug/Cube.obj
*.obj
*.log
*.pdb
rotatingMatrices/Debug/rotatingMatrices.ilk
*.vcxproj
*.filters
*.user
*.recipe
*.db-shm
*.db-wal
*.opendb
